In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns

from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error

import random

%matplotlib inline

In [2]:
path = '/Users/mjschillawski/Google Drive/Data/generalassembly/data/'
filename = 'Iowa_Liquor_Sales.csv'

## Load the data into a DataFrame
data = pd.read_csv(path+filename)

## Transform the dates if needed, e.g.
data["Date"] = pd.to_datetime(data["Date"])

/Users/mjschillawski/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
def DataInspect(dataframe):
    '''Original function (previously called eda) created by Ritika Bhasker
       Good first step when starting any project. Provides overview of
       dataset including missing values, duplicates and types.
       Takes a Pandas dataframe as the argument.'''
    print("Dataframe Shape:", dataframe.shape,"\n")
    print("Duplicate Rows:", dataframe.duplicated().sum(),"\n") #Added this
    print("Dataframe Types \n\n", dataframe.dtypes,"\n")    
    print("Missing Values \n\n", dataframe.isnull().sum(),"\n")
    print("Dataframe Describe \n\n", dataframe.describe(include='all'),"\n")


    print('Unique Values by Variable')
    for item in dataframe:
        print(item,':',dataframe[item].nunique())

In [6]:
data.rename(columns={'Date':'date', 'Store Number':'storenum', 'City':'city', 
                     'Zip Code':'zipcode', 'County Number':'countynum', 
                     'County':'county',
                     'Category':'category', 'Category Name':'categoryname', 
                     'Vendor Number':'vendornum',
                     'Item Number':'itemnum','Item Description':'itemdescription', 
                     'Bottle Volume (ml)':'bottlevol_ml', 
                     'State Bottle Cost':'statebottlecost',
                     'State Bottle Retail':'statebottleretail', 
                     'Bottles Sold':'bottlessold', 
                     'Sale (Dollars)':'sale_dollars',
                     'Volume Sold (Liters)':'volsold_liters', 
                     'Volume Sold (Gallons)':'volsold_gallons'},inplace=True)

In [7]:
DataInspect(data)

Dataframe Shape: (13189891, 24)

Duplicate Rows: 0

Dataframe Types

 Invoice/Item Number            object
date                   datetime64[ns]
storenum                        int64
Store Name                     object
Address                        object
city                           object
zipcode                        object
Store Location                 object
countynum                     float64
county                         object
category                      float64
categoryname                   object
vendornum                     float64
Vendor Name                    object
itemnum                         int64
itemdescription                object
Pack                            int64
bottlevol_ml                    int64
statebottlecost                object
statebottleretail              object
bottlessold                     int64
sale_dollars                   object
volsold_liters                float64
volsold_gallons               float64
dtype: object

Missing Values

 Invoice/Item Number        0
date                       0
storenum                   0
Store Name                 0
Address                 3282
city                    3281
zipcode                 3326
Store Location          3281
countynum              80086
county                 80084
category                9853
categoryname           17919
vendornum                  4
Vendor Name                2
itemnum                    0
itemdescription            0
Pack                       0
bottlevol_ml               0
statebottlecost           10
statebottleretail         10
bottlessold                0
sale_dollars              10
volsold_liters             0
volsold_gallons            0
dtype: int64

Dataframe Describe

        Invoice/Item Number                 date      storenum  \
count             13189891             13189891  1.318989e+07
unique            13189891                 1441           NaN
top           S17366700017  2017-12-22 00:00:00           NaN
freq                     1                16674           NaN
first                  NaN  2012-01-03 00:00:00           NaN
last                   NaN  2018-01-31 00:00:00           NaN
mean                   NaN                  NaN  3.575723e+03
std                    NaN                  NaN  9.401560e+02
min                    NaN                  NaN  2.106000e+03
25%                    NaN                  NaN  2.604000e+03
50%                    NaN                  NaN  3.707000e+03
75%                    NaN                  NaN  4.312000e+03
max                    NaN                  NaN  9.936000e+03

                          Store Name          Address        city   zipcode  \
count                       13189891         13186609    13186610  13186565
unique                          2033             3194         797       876
top     Hy-Vee #3 / BDI / Des Moines  3221 SE 14TH ST  DES MOINES     52402
freq                          116876           110543      811086    251474
first                            NaN              NaN         NaN       NaN
last                             NaN              NaN         NaN       NaN
mean                             NaN              NaN         NaN       NaN
std                              NaN              NaN         NaN       NaN
min                              NaN              NaN         NaN       NaN
25%                              NaN              NaN         NaN       NaN
50%                              NaN              NaN         NaN       NaN
75%                              NaN              NaN         NaN       NaN
max                              NaN              NaN         NaN       NaN

                                           Store Location     countynum  \
count                                            13186610  1.310980e+07
unique                                               4569           NaN
top     3221 SE 14TH ST\nDES MOINES 50320\n(41.554101,...           NaN
freq                                                81420           NaN
first                                                 NaN           NaN
last                                                  NaN           NaN
mean                                                  NaN  5.724586e+01
std                                                   NaN  2.727865e+01
min                                                   NaN  1.000000e+00
25%                                                   NaN  3.100000e+01
50%                                                   NaN  6.200000e+01
75%                                                   NaN  7.700000e+01
max                                                   NaN  9.900000e+01

          county       ...             itemnum itemdescription          Pack  \
count   13109807       ...        1.318989e+07        13189891  1.318989e+07
unique       201       ...                 NaN            6093           NaN
top         Polk       ...                 NaN    Black Velvet           NaN
freq     1845698       ...                 NaN          347025           NaN
first        NaN       ...                 NaN             NaN           NaN
last         NaN       ...                 NaN             NaN           NaN
mean         NaN       ...        4.612624e+04             NaN  1.223630e+01
std          NaN       ...        5.366631e+04             NaN  7.476079e+00
min          NaN       ...        1.010000e+02             NaN  1.000000e+00
25%          NaN       ...        2.703700e+04             NaN  6.000000e+00
50%          NaN       ...        3.817700e+04             NaN  1.200000e+01
75%          NaN       ...        6.413500e+04             NaN  1.200000e+01
max          NaN       ...        9.992750e+05             NaN  6.000000e+02

        bottlevol_ml  statebottlecost statebottleretail   bottlessold  \
count   1.318989e+07         13189881          13189881  1.318989e+07
unique           NaN             2797              3258           NaN
top              NaN            $8.25            $12.38           NaN
freq             NaN           251622            198438           NaN
first            NaN              NaN               NaN           NaN
last             NaN              NaN               NaN           NaN
mean    9.276698e+02              NaN               NaN  7.872181e+00
std     7.252317e+02              NaN               NaN  2.171563e+01
min     0.000000e+00              NaN               NaN  0.000000e+00
25%     7.500000e+02              NaN               NaN  2.000000e+00
50%     7.500000e+02              NaN               NaN  4.000000e+00
75%     1.000000e+03              NaN               NaN  1.200000e+01
max     3.780000e+05              NaN               NaN  1.500000e+04

        sale_dollars volsold_liters volsold_gallons
count       13189881   1.318989e+07    1.318989e+07
unique         23173            NaN             NaN
top          $162.00            NaN             NaN
freq           92977            NaN             NaN
first            NaN            NaN             NaN
last             NaN            NaN             NaN
mean             NaN   7.235103e+00    1.910049e+00
std              NaN   2.621999e+01    6.926886e+00
min              NaN   0.000000e+00    0.000000e+00
25%              NaN   1.500000e+00    3.900000e-01
50%              NaN   3.000000e+00    7.900000e-01
75%              NaN   9.000000e+00    2.380000e+00
max              NaN   1.500000e+04    3.962580e+03

[13 rows x 24 columns]

Unique Values by Variable
Invoice/Item Number : 13189891
date : 1441
storenum : 1921
Store Name : 2033
Address : 3194
city : 797
zipcode : 876
Store Location : 4569
countynum : 99
county : 201
category : 107
categoryname : 130
vendornum : 282
Vendor Name : 407
itemnum : 7557
itemdescription : 6093
Pack : 30
bottlevol_ml : 49
statebottlecost : 2797
statebottleretail : 3258
bottlessold : 452
sale_dollars : 23173
volsold_liters : 1212
volsold_gallons : 1212

In [13]:
#subset 2014 data
#for predictions later
train2014 = data[np.logical_and(data['date'] > '2013-12-31',data['date'] < '2015-01-01')]
print(train2014.shape)

(2097796, 24)

In [14]:
train2014['date'].describe()

count                 2097796
unique                    222
top       2014-12-29 00:00:00
freq                    15996
first     2014-01-02 00:00:00
last      2014-12-31 00:00:00
Name: date, dtype: object

In [15]:
train2014.to_csv('iowa_liquor_2014.csv')